<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h3>{{user.username}}</h3>
          <span class="subheading">{{user.firstName}} {{user.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="edit-user" method="POST" action="/tools/user/{{user.username}}?_method=PUT">
        
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Account Type</label>
            <input class="form-control" name="accountType" checked type= "radio" id="Admin" value="Admin">
            <label for="Admin">Admin</label>
            <input class="form-control" name="accountType" checked type="radio" id="Customer" value="Customer">
            <label for="Customer">Customer</label>
            <input class="form-control" name="accountType" checked type="radio" id="Developer" value="Developer">
            <label for="Developer">Developer</label>
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Account Status</label>
           {{!--  <input required data-validation-required-message="Please choose Account Status."> --}}
            <input class="form-control" name="accountStatus" checked type="radio" id="Approved" value="Approved">
            <label for="Approved">Approved</label>
            <input class="form-control" name="accountStatus" checked type="radio" id="Pending" value="Pending">
            <label for="Pending">Pending</label>
            <input class="form-control" name="accountStatus" checked type="radio" id="Blocked" value="Blocked" required data-validation-required-message="Please enter a reason why.">
            <label for="Blocked">Blocked</label>
            <p class="help-block text-danger"></p>
          </div>
         </div>

        <br>
        <div class="row">
          <div class="form-group col-xs-6 text-right">
              <button type="submit" class="btn btn-default">Edit</button>
          </div>
      </form>
    </div>
  </div>
</div>
</main>

