<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h4>Create A New Post</h4>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      <form name="create-post" action="/posts/new-post" method="post">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" required data-validation-required-message="Please enter a title.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Description and Project Requirements and Specifications.</label>
            <input type="text" class="form-control" placeholder="Description" name="body" required data-validation-required-message="Please enter a body.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <label>Tags</label>
          <div class="chips chips-placeholder"></div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-6 floating-label-form-group controls">
            <label>Biding Deadline</label>
            <input type="datetime-local" class="form-control" name="bidingDeadline"  required data-validation-required-message="Please enter a date and time.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-6 floating-label-form-group controls">
            <label>Completion Deadline</label>
            <input type="datetime-local" class="form-control" name="completionDeadline" required data-validation-required-message="Please enter a date and time.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-default">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
$(document).ready(function(){
  $('.chips').material_chip();
  $('.chips-initial').material_chip({
    data: [{
      tag: 'Apple',
    }, {
      tag: 'Microsoft',
    }, {
      tag: 'Google',
    }],
  });
  $('.chips-placeholder').material_chip({
    placeholder: 'Enter tag',
    secondaryPlaceholder: '+Tag',
  });
  $('.chips-autocomplete').material_chip({
    autocompleteOptions: {
      data: {
        'Apple': null,
        'Microsoft': null,
        'Google': null
      },
      limit: Infinity,
      minLength: 1
    }
  });
  $('.chips').on('chip.add', function(e, chip){
      // alert("You Have added chip");
     });
});
  
</script>

