<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h3>Set Up Your Profile</h3>
          <hr class="small">
          <span class="subheading">Public Profile</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

          {{#if error}}
            <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                <i class="mdi-alert-error"></i>
                <p><center>ERROR</center></p>
              </div>
            </div>
          {{/if}}
          
  <div class="row">

<div class="card hoverable">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="card-content black-text">
      <form name="upload-profile" action="/set-up" method="post" enctype="multipart/form-data">
<br><br>
        <div class="row control-group">
          <div class="col s3 offset-s2">
            <center><label>First Name</label>
            <input type="text" style="text-align:center;" class="form-control" placeholder="Billy" name="firstName" required data-validation-required-message="Please enter your first name.">
            <p class="help-block text-danger"></p>
            </center>
          </div>


          <div class="col s3  offset-s2">
            <center>
            <label>Last Name</label>
            <input style="text-align:center;" type="text" class="form-control" placeholder="McDonald" name="lastName" required data-validation-required-message="Please enter your first name.">
            <p class="help-block text-danger"></p>
            </center>
          </div>
        </div>
        <br>
        <div class="row control-group">
          <div class="col s6 offset-s3">

            <label >Upload a Profile Picture:</label>
            <input style="text-align:center;" type="file" name="profileImage" id="profileImage"/>
            <span class="hint">Supported files: jpg, jpeg, png.</span>
            <hr class="divider">
            <br>
          </div>
        </div>

        {{#if customer}}
        <div class="row control-group">
          <div class="col s6 offset-s3">
            <label>Company Website</label>
            <input type="url" class="form-control" style="text-align:center;" placeholder="http://weDev.tech:3000" name="companyWebsite" required data-validation-required-message="Please fill in company website">
            <p class="help-block text-danger"></p>
          </div>
        </div>


        <div class="row control-group">
          <div class="col s6 offset-s3">
            <label>Company Information</label>
            <input type="text" class="form-control" placeholder="Best Turk System Ever!" style="text-align:center;" name="companyInfo" required data-validation-required-message="Please fill in your company information.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        {{else}} 

        <div class="row control-group">
          <div class="col s6 offset-s3">
            <label>GitHub Link</label>
            <input type="text" class="form-control" placeholder="http://GitHub.com/mikhail-kreytser/weDev" style="text-align:center;" name="companyWebsite" required data-validation-required-message="Please fill in your company information.">
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row control-group">
          <div class="col s6 offset-s3">
            <label>Biography</label>
            <input type="text" class="form-control" placeholder="We are WeDev!" name="bio" style="text-align:center;" required data-validation-required-message="Please fill in your bio.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        {{/if}}

        <br>
        <div class="row">
          <div class="col s6 offset-s3">
              <button type="submit" class="btn btn-default">Done</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
</div>