<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h3>Set Up Your Profile</h3>
          <hr class="small">
          <span class="subheading">Public Profile</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

          {{#if error}}
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <div class="alert alert-danger"><center>ERROR</center></div>
          </div>
          {{/if}}
          
  <div class="row">


    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="upload-profile" action="/set-up" method="post" enctype="multipart/form-data">

              <div class="row control-group">
          <div class="form-group col-xs-6 floating-label-form-group controls">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" name="firstName" required data-validation-required-message="Please enter your first name.">
            <p class="help-block text-danger"></p>
          </div>



          <div class="form-group col-xs-6 floating-label-form-group controls">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" required data-validation-required-message="Please enter your first name.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">

            <label >Upload a Profile Picture:</label>
            <input type="file" name="profileImage" id="profileImage"/>
            <span class="hint">Supported files: jpg, jpeg, png.</span>
            <hr class="divider">
            <br>
          </div>
        </div>

        {{#if customer}}
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Company Website</label>
            <input type="text" class="form-control" placeholder="Company Website" name="companyWebsite" required data-validation-required-message="Please fill in company website">
            <p class="help-block text-danger"></p>
          </div>
        </div>


        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Company Information</label>
            <input type="text" class="form-control" placeholder="Company Information" name="companyInfo" required data-validation-required-message="Please fill in your company information.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        {{else}} 
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Biography</label>
            <input type="text" class="form-control" placeholder="Bio" name="bio" required data-validation-required-message="Please fill in your bio.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        {{/if}}

        <br>
        <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-default">Done</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
