<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>weDev</h1>
          <hr class="small">
          <span class="subheading">weDev</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
          <h2 class="post-title">APROVAL STATUS:</h2>
          <h3 class="post-subtitle">{{user.accountStatus}}</h3>
        </a>
      </div>
        <hr>
    </div>
  </div>
</div>
