<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h4>weDev</h4>
          <hr class="small">
          <span class="subheading">User Registration/Temporary Account</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
          <h4 class="center-align">APPROVAL STATUS:</h4>
          <h5 class="status-subtitle center-align">{{user.accountStatus}}</h5>
          <p class="center-align">Check back later for credential approval. In the meantime, you can <a href="/posts">browse posts</a> or go to <a href="/">homepage.</a>
        </a>
      </div>
        <hr>
    </div>
  </div>
</div>
