

<header class="intro-header">
  
  <span class="subheading"><i id="header-logo" class="material-icons">data_usage</i></span>
  <h3>Login</h3>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each error}}
            <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                <i class="mdi-alert-error"></i>
                <p><center>{{this}}</center></p>
              </div>
            </div>
      {{/each}}
      <form name="login" action="/login" method="post">
        <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card white darken-1 hoverable">
            <div class="card-content black-text">
              <p class="center-align">Welcome Back!</p>
              <input type="email" name="email" placeholder='Email Address' required>
              <input type="password" name="password" placeholder='Password' required>

              <button type="submit" class="btn">Login</button>
            </div>

          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>


