<header class="intro-header">
          <h3>Sign Up</h3>
          <span class="subheading">Join our Turk System!</span>
</header>

<div class="container">
          {{#if error}}
            <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                <i class="mdi-alert-error"></i>
                <p><center>ERROR</center></p>
              </div>
            </div>
          {{/if}}
          {{#if usernameTaken}}
            <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                <p><center>Username is taken</center></p>
              </div>
            </div>
          {{/if}}

          {{#if emailTaken}}
            <div id="card-alert" class="card red lighten-5">
              <div class="card-content red-text">
                <p><center>Email is taken</center></p>
              </div>
            </div>
          {{/if}}
          
  <div class="row">


    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="sign-up" action="/sign-up" method="post">

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required data-validation-required-message="Please enter your username.">
            <p class="help-block text-danger"></p>
          </div>
        </div>


        <div class="row control-group">        
          <div class="form-group col-xs-12 floating-label-form-group controls">
                <p>
                  <input name="accountType" type="radio" id="Customer" value="Customer" required />
                  <label for="Customer">Customer</label>
                  <input name="accountType" type="radio" id="Developer" value="Developer" />
                  <label for="Developer">Developer</label>
                </p>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email Address</label>
            <input type="email" class="form-control" name="email" required data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
        </div>


        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Password</label>
            <input type="password" id="password" class="form-control" name="password" required data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        
        <br>
        <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
