<header class="intro-header">
  <h3>Login</h3>
  <span class="subheading"><i id="header-logo" class="material-icons">data_usage</i></span>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#if error}}
        <div class="alert alert-danger">{{this.error}}</div>
      {{/if}}
      
      <h5 class="center-align red-text">A minimum of $200 must be deposited in order to join weDev</h5>
 
      <form name="deposit" action="/deposit/" method="post">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Deposit</label>
            <input type="text" name="amountDeposited" class="form-control" value="200" required data-validation-required-message="Please enter the amount.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Credit Card Number</label>
            <input type="text" name="creditCardNumber"  class="form-control" value="1234123412341234" required data-validation-required-message="Please enter the credit card number.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>expirationDate</label>
            <input type="date" name="expirationDate" class="form-control"  required data-validation-required-message="Please enter the amount.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>cvv</label>
            <input type="text" name="cvv" class="form-control" value="200" required data-validation-required-message="Please enter the amount.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Zip Code</label>
            <input type="text" name="zipCode" class="form-control" value="12345" required data-validation-required-message="Please enter the amount.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>