<header class="intro-header">
  <h3>Login</h3>
  <span class="subheading"><i id="header-logo" class="material-icons">data_usage</i></span>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#if error}}
        <div class="alert alert-danger">{{this.error}}</div>
      {{/if}}
      
      <h5 class="center-align red-text">A minimum of $200 must be deposited in order to join weDev</h5>
      <form class="checkout" name="deposit" action="/deposit/" method="post">
    <div class="checkout-header">
      <h1 class="checkout-title">
        Deposit Initial Funds
        <span class="checkout-price">$200</span>
      </h1>
    </div>
    <p>
      <input type="text" name="amountDeposited" class="checkout-input checkout-name" placeholder="200" autofocus required>
      <input type="date" name="expirationDate" class="checkout-input checkout-exp" required data-validation-required-message="Please enter expiration date.">
      <input type="text" name="zipCode" class="checkout-input checkout-exp" maxlength="5" placeholder="Zip Code" required data-validation-required-message="Please enter zip code.">
    </p>
    <p>
      <input type="text" name="creditCardNumber" class="checkout-input checkout-card" maxlength="16" placeholder="4111 1111 1111 1111" data-validation-required-message="Please enter the credit card number." required>
      <input type="text" name="cvv" class="checkout-input checkout-cvc" maxlength="3" data-validation-required-message="Please enter the amount." placeholder="CVV" required>
    </p>
    <p>
      <div class="form-group col-xs-12">
              <button type="submit" class="btn">Login</button>
          </div>
    </p>
  </form>
    </div>
  </div>
</div>